<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Phonebook.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>076DE06C1C77DA7100075EDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>076DE0881C77DA7100075EDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>076DE0931C77DA7100075EDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
